name: PHP

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string

      run:
        required: true
        type: string

      php:
        required: false
        type: string
        default: "8.1"

      php-extensions:
        required: false
        type: string
        default: "json"

      composer:
        required: false
        type: string
        default: "composer install --no-interaction --no-progress --prefer-dist"

env:
  tools: "composer:v2"
  cache-version: "1"

jobs:
  php-workflow:
    name: "${{ inputs.name }} (${{ inputs.php }})"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Setup PHP cache environment"
        id: "extcache"
        uses: "shivammathur/cache-extensions@v1"
        with:
          php-version: "${{ inputs.php }}"
          extensions: "${{ inputs.php-extensions }}"
          key: "${{ env.cache-version }}"

      - name: "Cache PHP extensions"
        uses: "actions/cache@v3"
        with:
          path: "${{ steps.extcache.outputs.dir }}"
          key: "${{ steps.extcache.outputs.key }}"
          restore-keys: "${{ steps.extcache.outputs.key }}"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ inputs.php }}"
          extensions: "${{ inputs.php-extensions }}"
          tools: "${{ env.tools }}"

      - name: "Setup problem matchers for PHP"
        run: 'echo "::add-matcher::${{ runner.tool_cache }}/php.json"'

      - name: "Get Composer cache directory"
        id: "composercache"
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: "Cache PHP dependencies"
        uses: "actions/cache@v3"
        with:
          path: "${{ steps.composercache.outputs.dir }}"
          key: "${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}"
          restore-keys: "${{ runner.os }}-composer-"

      - name: "Install dependencies"
        if: "${{ inputs.composer != '' }}"
        run: "${{ inputs.composer }}"

      - name: "${{ inputs.name }}"
        run: "${{ inputs.run }}"
